@{
    ViewData["Title"] = "About";
}








<div class="container-fluid text-center shadowbox" style="margin-top: 10%;  width: 800px;">
    <p>
        O meu maior desafio foi no qual trabalhei recentemente, projeto enorme no qual tinhamos disposto de 1200 horas e 2 desenvolvedores. A demanda foi entregue em 800 horas, sendo uma melhoria que envolveu os módulos mais importantes da plataforma, tendo alguns impactos que deveriam ser calculados. A parte mais complexa da atividade foi a quantidade de regras de negócio, processamentos em background, performance em todos os relatórios que precisaram de ser feitos. Resumidamente, o escopo do projeto foi um módulo onde os gestores poderiam cadastrar necessidades de treinamentos para seus liderados, e essas necessidades seriam sanadas pela equipe do RH.
        Para isso foi criado um plano de treinamento anual no qual reunia todos os usuários informados pelo gestor com as necessidades e os cursos que esses usuários deveriam fazer.

        Em termo de arquitetura o sistema já tem uma solidez utilizando MVC com aplicação de DDD, nesse projeto foi seguido a arquitetura já existente.

        Em questão de tecnologia foi utilizado, C# e SQL nos relatórios, além de JavaScript, jQUERY, Bootstrap e HTML.
        Neste site pode ver um pouco do conceito que foi implementado <a href="https://blog.solides.com.br/plano-anual-de-treinamento-e-desenvolvimento/?utm_term=&utm_campaign=pareto.aw.gsn.general{blog}{LDt}&utm_source=adwords&utm_medium=ppc&hsa_acc=5023217460&hsa_cam=12550667912&hsa_grp=129846598923&hsa_ad=591926408615&hsa_src=g&hsa_tgt=dsa-1466823538259&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiA1ZGcBhCoARIsAGQ0kkoMFQnWVClbiYBfFr6d2SKfuC9ASTmTIrU08hT9gTGO9V-HEraa6r0aAl-cEALw_wcB" target="_blank">Link</a>
    </p>

</div>


<style>
    .shadowbox {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
</style>