@{
    ViewData["Title"] = "Home";
}



<div class="container">
    <div class="row">

        <div class="col">
        <img src="~/css/img/IMG_20220930_094240.jpg" style="height: 500px; border-radius: 47%" class="img-fluid" />
        </div>

        <div class="col">
            <div class=" text-center shadowbox" style="margin-top: 25%;  width: 800px;">
                <h3> Informações:</h3>
                <p>
                    <b>Nome:</b> Matheus Henrique Soares Moreno.
                    <br />
                    <b>Cargo Pretendido:</b> Desenvolvedor .Net Pleno.
                    <br />
                    <b>Pretensão Salarioal:</b>R$ 6500,00.
                    <br />
                    <b>Data do teste:</b> dia 28 de Setembro de 2022.
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .shadowbox {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
</style>